// ===== ABOUT ME
// ================================================================

.tools {
    color: white;
    font-family: $font-text;
    font-size: 16px;
    line-height: 1.2;
    -moz-osx-font-smoothing: grayscale;
    background-color: $teal;
    padding-top: 200px;

    @include bp($bp-col8) {
        padding-top: 175px;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        max-width: $bp-col16;

        @include bp($bp-col12) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    .title {
        width: 100%;
    }

    // Split content into two columns on larger screens
    .column {
        width: 100%;

        &.about {
            width: 100%;
            max-width: $bp-col8;
            @include bp($bp-col12) {
                width: 70%;
                padding-right: 50px;
            }
        }
        &.tools {
            width: 100%;
            padding: 0;
            @include bp($bp-col12) {
                width: 30%;
            }
        }
    }

    .about-text {
        max-width: $bp-col8;
        font-size: 16px;
        border: 1px solid rgba(white, 0.25);
        padding: 35px 20px;
        margin: 0 auto 50px auto;

        @include bp($bp-col8) {
            font-size: 18px;
            padding: 50px;
            margin-bottom: 100px;
        }
        @include bp($bp-col12) {
            margin-bottom: 75px;
        }

        span {
            float: left;
            color: $teal-light;
            font-family: $font-heading;
            font-size: 65px;
            line-height: 1;
            padding: 0 15px 15px 0;
            margin-top: -7px;

            @include bp($bp-col8) {
                font-size: 85px;
                padding-right: 25px;
            }
        }
    }

    .tools-image {
        display: flex;
        align-self: center;
        width: 100%;
        max-width: 750px;
        margin: 0 auto 40px auto;
        @include bp($bp-col8) {
            margin-bottom: 80px;
        }
        @include bp($bp-col12) {
            margin-bottom: 0;
        }
    }

    .tools-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        color: $teal-light;
        list-style: none;
        padding: 0;
        margin: 0 auto;

        &:not(.mobile) {
            margin-bottom: 25px;
            @include bp($bp-col8) {
                margin-bottom: 0;
            }
            @include bp($bp-col12) {
                margin-bottom: 25px;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: calc(100% / 4);
            font-size: 15px;
            text-align: center;
            padding: 15px;

            @include bp($bp-col8) {
                width: calc(100% / 6);
                padding: 20px;
            }
            @include bp($bp-col12) {
                width: calc(100% / 4);
                max-width: 100px;
            }

            img {
                width: 100%;
                max-width: 35px;
                height: 100%;
                max-height: 55px;
                padding-bottom: 15px;

                @include bp($bp-col8) {
                    max-width: 50px;
                }
            }

            .text {
                font-size: 13px;
                margin-top: auto;
                margin-bottom: 0;
            }
        }

        &.mobile {
            width: 100%;
            justify-content: center;
            outline: 1px solid rgba(white, 0.25);

            @include bp($bp-col8) {
                justify-content: flex-end;
                align-items: center;
            }

            li {
                width: 33.33333%;
                max-width: 100px;

                @include bp($bp-col12) {
                    width: 33.33333%;
                }
            }
            @include bp($bp-col12) {
                justify-content: center;
            }

            .title {
                flex: auto;
                width: 100%;
                max-width: none;
                font-family: $font-heading;
                font-size: 30px;
                white-space: normal;
                margin: auto;
                margin-bottom: 10px;

                @include bp($bp-col8) {
                    flex: 1;
                    width: auto;
                    font-size: 40px;
                    margin-bottom: auto;
                }
                @include bp($bp-col12) {
                    flex: 1 0 auto;
                    width: 100%;
                    max-width: none;
                    font-size: 30px;
                }
                @include bp($bp-col16) {
                    font-size: 34px;
                }
            }

            .text {
                width: 100%;
                margin-top: 0;
            }
        }
    }
}
