// ===== CLIENT PROJECTS
// ================================================================

.client-projects-stage {
    position: relative;
    height: 100%;
    max-height: 1px;
    color: white;
    text-align: left;
    background-color: $grey-light;
    overflow: hidden;
    transition: max-height 1.5s ease, padding 0.45s ease;

    @include bp(max-width $bp-col8) {
        padding: 50px 0;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 150%;
        height: 100%;
        opacity: 0;
        box-shadow: inset 0 0 40px 30px rgba(black, 0.3);
    }

    &:not(.open) {
        padding: 0;
    }

    // Open state
    &.open {
        max-height: 2000px;
        background-color: $black;
        &:before {
            opacity: 1;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;

        @include bp($bp-col8) {
            padding: 0 60px;
        }
        @include bp($bp-col12) {
            padding: 0 100px;
        }
        @include bp($bp-col16) {
            padding: 0 150px;
        }

    }

    .client-projects-slider {
        height: 100%;
        opacity: 0;
        margin: 0;
    }

    // Modify default styles
    .bx-wrapper {
        width: 100%;
        height: 100% !important;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0 auto;

        .bx-viewport {
            height: 100% !important;
        }
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        display: block;
        width: 45px;
        height: 60px;
        background-color: rgba($teal, 1);
        padding: 12px;
        transition: all 0.2s;
        z-index: 10;

        @include bp($bp-col12) {
            width: 60px;
            height: 60px;
        }

        &:hover {
            background-color: rgba($teal, 0.6);
            svg { fill: $teal-light; }
        }

        svg {
            width: 100%;
            height: 100%;
            fill: $black;
            transition: fill 0.2s;
            z-index: 5;
        }
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
        display: none;
        transform: rotate(180deg);
        @include bp($bp-col8) {
            display: block;
        }
    }

    .slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 0 5px;
        @include bp($bp-col8) {
            flex-direction: row;
            align-items: center;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        font-size: 14px;
        @include bp($bp-col8) {
            padding-right: 30px;
        }
        @include bp($bp-col12) {
            font-size: 16px;
            padding-right: 50px;
        }
        @include bp($bp-col12) {
            font-size: 18px;
            padding-right: 75px;
        }

        .title {
            width: 100%;
            font-size: 36px;
            @include bp($bp-col12) {
                font-size: 46px;
            }
            @include bp($bp-col16) {
                font-size: 54px;
            }
        }

        .subtitle {
            width: 100%;
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 20px;
            @include bp($bp-col12) {
                font-size: 18px;
                margin-bottom: 30px;
            }
            @include bp($bp-col16) {
                font-size: 20px;
                margin-bottom: 40px;
            }
        }

        .description {
            width: 100%;
            padding-right: 35px;
            margin-bottom: 20px;
            @include bp($bp-col8) {
                padding: 0;
            }
            @include bp($bp-col12) {
                margin-bottom: 30px;
            }
            @include bp($bp-col16) {
                margin-bottom: 40px;
            }
        }

        .services {
            color: $grey;
        }
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 300px;
        margin: auto;

        @include bp($bp-col8) {
            width: 40%;
            max-width: 250px;
        }
        @include bp($bp-col12) {
            width: 30%;
        }

        .stats-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            width: 100%;

            @include bp($bp-col8) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .stat {
            flex: 1 1 auto;
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;


            .value {
                color: $teal-light;
                font: 33px/1 $font-heading;
                padding-bottom: 5px;

                @include bp($bp-col12) {
                    font-size: 42px;
                }
                @include bp($bp-col16) {
                    font-size: 48px;
                }

                &:after,
                &:before {
                    font-size: 70%;
                }

                &.usd:before {
                    content: '$';
                    vertical-align: top;
                }

                &.percentage:after {
                    content: '%';
                }
                &.thousand:after {
                    content: 'k';
                }
                &.million:after {
                    content: 'M';
                }
                &.billion:after {
                    content: 'B';
                }
            }

            .text {
                font-size: 13px;
                white-space: nowrap;
                @include bp($bp-col8) {
                    font-size: 15px;
                }
            }
        }
    }

    .btn {
        width: 100%;
        max-width: 300px;
        margin: 15px auto 0 auto;
        @include bp($bp-col8) {
            margin-top: 35px;
        }
        @include bp($bp-col12) {
            margin-top: 50px;
        }
    }

    .title {
        color: white;
        font-size: 56px;
        text-align: left;
        margin-bottom: 5px;

        sup {
            font-size: 16px;
            vertical-align: top;
        }
    }

    .subtitle {
        color: $teal-light;
        font-family: $font-heading;
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

// Logo thumbnails for all clients
.client-projects-nav {
    text-align: center;
    background-color: $grey-light;

    .title {
        @include bp($bp-col8) {
            margin-bottom: 60px;
        }
        @include bp($bp-col8) {
            margin-bottom: 70px;
        }
    }

    .client-thumbnails {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0 auto;

        @include bp($bp-col8) {
            margin-bottom: 30px;
        }

        .thumbnail {
            cursor: pointer;
            width: 50%;
            max-width: 225px;
            opacity: 0.15;
            padding: 0 3vw;
            margin: 0 0 6vw 0;
            transition: opacity 0.2s, transform 0.2s;

            @include bp($bp-col8) {
                width: 33.333%;
                max-width: 245px;
            }

            @include bp($bp-col12) {
                width: 25%;
                max-width: 270px;
                padding: 0 30px;
                margin-bottom: 55px;
            }

            &:hover {
                opacity: 0.3;
                transform: scale(1.05);
            }

            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }

    }

}
