// ===== CONTACT FORM
// ================================================================

.contact {
    background-color: $grey-light;
    padding-bottom: 80px;
    transition: background-color 0.5s;

    @include bp($bp-col8) {
        padding-bottom: 100px;
    }

    // When the form is first activated
    &.open {
        background-color: $black;
        form {
            border-color: transparent;
            box-shadow: 3px 3px 8px 3px rgba(black, 0.1);
            @include bp($bp-col8) {
                transform: translate(-6px, -6px);
            }
        }
    }

    .title {
        width: 100%;
        text-align: center;
    }

    // Contact Form styling
    form {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        width: 100%;
        max-width: 400px;
        background-color: $grey-light;
        padding: 30px 15px;
        transition: 0.5s;

        @include bp($bp-col8) {
            max-width: 500px;
            border: 2px solid darken($grey-light, 5%);
            padding: 50px;
        }
        @include bp($bp-col16) {
            max-width: 600px;
            padding: 60px 75px;
        }

        .errors {
            display: block;
            width: 100%;
            list-style: none;
            background-color: $red-light;
            opacity: 0;
            padding: 10px;
            margin: 0 auto 30px auto;
            animation: errors 0.5s 0.5s forwards;

            .error {
                font-size: 13px;
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }
            }
        }

        @keyframes errors {
            0%   { opacity: 0; }
            100% { opacity: 1; }
        }

        .form-row {
            position: relative;
            width: 100%;
            margin: 0 auto 15px auto;
        }

        label {
            position: absolute;
            top: 15px;
            left: 20px;
            color: $teal;
            font: 15px/20px $font-text;
            transition: 0.2s;

            &.required:after {
                content: '*';
                color: $red;
            }

            &.active {
                top: 3px;
                font-size: 12px;
            }
        }

        input, textarea {
            width: 100%;
            font: 15px/1 $font-text;  
            background-color: rgba(white, 0.75);
            border: none;
            outline: none;
            padding: 25px 20px 5px 20px;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(white, 1);
            }
        }
        
        .btn {
            border: none;
            margin-bottom: 0;
        }
    }

    // Thank You Message
    .thanks {
        position: relative;
        width: 69%;
        max-width: 400px;
        text-align: center;
        padding: 20px;
        @include bp($bp-col8) {
            padding: 40px;
        }

        .smiley {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            width: 0;
            height: auto;
            animation: smiley-bubble 2s forwards cubic-bezier(0.85,-0.3,0.3,1.75);

            svg {
                fill: $teal-light;
            }

            &:first-of-type {
                left: auto;
                right: 0;
                transform: translate(100%, -50%);
                animation-delay: 0.1s;
            }
        }

        @keyframes smiley-bubble {
            0%   { width: 0; }
            40%  { width: 0; }
            100% { width: 45px; }
        }
    }
}