// ===== FOOTER STYLES
// ================================================================

.footer {
    width: 100%;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    background-color: $teal;
    padding: 65px 25px 35px 25px;
    z-index: 500;

    @include bp($bp-col8) {
        padding: 35px 0;
    }

    .wrapper {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 850px;

        @include bp($bp-col8) {
            flex-direction: row;
        }
    }

    .social-icons {
        margin-bottom: 20px;
        @include bp($bp-col8) {
            margin-bottom: 0;
            width: 50%;
        }
    }

    .icon {
        position: relative;
        display: inline-block;
        text-decoration: none;
        transform: rotateX(30deg) rotateY(-50deg) rotateZ(0);
        padding: 10px;
        transition: 0.2s;

        &:before {
            content: '';
            position: absolute;
            bottom: 28px;
            right: 3px;
            width: 175%;
            height: 50%;
            border-radius: 50% 10px 10px 50%;
            transform: rotateX(-65deg) rotateY(-15deg) rotateZ(60deg);
            background-image: linear-gradient(to left, rgba(black, 0.4), rgba(black, 0));
            z-index: -1;
            transition: 0.2s;
        }

        &:hover {
            transform: rotateX(0) rotateY(0) rotateZ(0);
            &:before {
                right: 4px;
                border-radius: 25%;
                opacity: 0.4;
            }
            svg {
                transform: translateY(-8px);
            }
        }
        
        svg {
            cursor: pointer;
            width: 35px;
            height: 35px;
            fill: white;
            transition: 0.2s;
        }
    }

    .copyright {
        color: white;
        font-size: 15px;
        line-height: 1.3;
        @include bp($bp-col8) {
            width: 50%;
        }
    }

    .maze {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -113px);
        width: 125px;
        height: auto;
        z-index: 1;

        @include bp($bp-col8) {
            transform: translate(-50%, -83px);
        }

        img {
            width: auto;
            height: auto;
        }
    }

}
