// ===== HERO SECTION
// ================================================================

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 125vw;
    max-height: 85vh;
    background-image: linear-gradient(to top, $grey, $grey-light);
    padding: 0;
    margin: 0;

    @include bp($bp-col12) {
        max-height: 90vh;
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        height: 40px;
        background-color: $teal;
        margin: 0 auto;
        animation: loading 1.2s infinite ease-in-out;
        transition: opacity 0.5s;
        z-index: 5;
    }

    @keyframes loading {
        0%   { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
        50%  { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
        100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
    }

    .hero-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: -14vw;

        @include bp($bp-col8) {
            margin-bottom: -11vh;
        }

        img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            max-height: 85vh;
            opacity: 0;
            animation-play-state: paused;

            @include bp($bp-col12) {
                max-height: 90vh;
            }
            @include bp($bp-col16) {
                max-height: 100vh;
            }
        }
    }

    // Once the main image is loaded, start all animations
    &.loaded {
        .loading {
            opacity: 0;
        }
        img {
            animation-play-state: running;
        }
    }

    .hero-clouds-front {
        transform: translateY(-10vh);
        animation: bounce 1.25s cubic-bezier(0.85,-0.95,0.3,2) 0.25s forwards;
        z-index: 4;
    }

    .hero-clouds-back {
        transform: translateY(-15vh);
        animation: bounce 1.25s cubic-bezier(0.85,-0.95,0.3,2) 0.5s forwards;
        z-index: 3;
    }

    .hero-image {
        transform: translateY(15vh);
        animation: bounce 1.25s cubic-bezier(0.85,-0.95,0.3,2) forwards;
        z-index: 2;
    }

    .hero-name {
        transform: translateY(25vh);
        animation: bounce 0.75s ease 1.75s forwards;
        z-index: 1;
    }

    @keyframes bounce {
        0%   { opacity: 0; }
        100% { opacity: 1; transform: translate(0); }
    }
}
