// ===== PERSONAL PROJECTS
// ================================================================

.personal-projects {
    position: relative;
    background-color: $teal;
    overflow: hidden;
    padding-bottom: 150px;

    &:before {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%) rotate(-45deg);
        content: '';
        width: 100%;
        height: 150%;
        background-color: $black;
        @include bp($bp-col8) {
            left: 50%;
            width: 120vh;
            height: 120vh;
        }
        @include bp($bp-col12) {
            width: 90vw;
            height: 90vw;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 150%;
        height: 100%;
        box-shadow: inset 0 0 40px 30px rgba(black, 0.3);
    }

    .wrapper {
        position: relative;
        max-width: 1100px;
        z-index: 5;
    }

    .title {
        color: $black;
        @include bp($bp-col8) {
            color: white;
            margin-bottom: 80px;
        }
    }

    // Modify default styles
    .bx-wrapper {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0 auto;

        .bx-viewport {
            width: 100%;
            max-width: 400px;
            height: auto !important;
            margin: 0 auto;
            @include bp($bp-col8) {
                max-width: none;
            }
        }

        .bx-pager-item:last-child {
            display: none;
        }

        .bx-pager-link {
            width: 13px !important;
            height: 13px !important;
            border-radius: 50% !important;
            margin: 0 7px !important;
            &:hover {
                background-color: rgba(white, 0.35) !important;
            }
            &.active {
                background-color: $teal-light !important;
            }
        }
    }

    .slide {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;

        @include bp($bp-col8) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        .content {
            width: 100%;
            text-align: center;
            @include bp($bp-col8) {
                width: 60%;
                text-align: left;
                padding: 25px 25px 0 25px;
            }

            .title {
                display: inline-block;
                color: white;
                font-size: 32px;
                text-align: left;
                background-color: $black;
                padding: 10px;
                margin: 0 0 20px 0;
                @include bp($bp-col8) {
                    background-color: $teal;
                    margin-bottom: 30px;
                }
            }

            .description {
                color: white;
                text-align: justify;
                margin-bottom: 20px;
                @include bp($bp-col8) {
                    text-align: left;
                    margin-bottom: 50px;
                }
            }

            ul {
                margin-bottom: 0;
            }

            .btn-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;

                @include bp($bp-col8) {
                    justify-content: flex-start;
                }
            }

            .btn-icon {
                width: 100%;
                max-width: 40px;
                height: 40px;
                margin-right: 35px;
                @include bp($bp-col12) {
                    height: 45px;
                    margin-right: 40px;
                }
                svg {
                    width: 100%;
                    height: auto;
                    fill: $teal-light !important;
                    transition: fill 0.2s, transform 0.2s;

                    &:hover {
                        transform: scale(1.1);
                        fill: lighten($teal, 8%);
                    }
                }
            }
        }

        .image {
            width: 100%;
            text-align: center;
            padding: 20px;
            @include bp($bp-col8) {
                width: 40%;
                padding: 25px;
            }
            img {
                width: 100%;
                max-width: 350px;
                height: auto;
                box-shadow: 0 15px 20px -10px rgba(black, 0.3);
                margin: 0 auto;
            }
        }
    }
}