// ===== GENERAL STYLES
// ================================================================

*, *:after, *:before {
	box-sizing: border-box;
}

::selection { color: #fff; background: $teal-light; }

body, select, input, textarea {
	color: $black;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-backface-visibility: hidden;
	font-size: 93%;
	@include bp($bp-col8){ font-size: 95%; }
	@include bp($bp-col12){ font-size: 98%; }
	@include bp($bp-col16){ font-size: 100%; }
	line-height: 1.4;
}

body {
	position: relative;
	width: 100%;
	background-color: white;
	overflow-x: hidden;
}

section {
	padding: 60px 0;

	@include bp($bp-col8) {
		padding: 80px 0;
	}
	@include bp($bp-col12) {
		padding: 100px 0;
	}
	@include bp($bp-col16) {
		padding: 120px 0;
	}
}



// ===== ANCHOR TEXT / LINKS
// ================================================================



// ===== HORIZONTAL LINE
// ================================================================

hr, .hr {
	border: none;
	height: 1px;
	background-color: rgba(#464646, 0.7);
	outline: none;
	width: 100%;
	margin: 25px 0;
}


// ===== IMAGES
// ================================================================

img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	@include bp($bp-col8){
		display: inline;
	}
}


// ===== REUSEABLE STYLES
// ================================================================

$box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.2);