// GRID SETTINGS
// ================================================================

// Primary Breakpoints
$bp-col4: 0;
$bp-col8: 640px;
$bp-col12: 960px;
$bp-col16: 1280px;

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: $bp-col16;
    padding: 0 15px;
    margin: 0 auto;

    @include bp($bp-col8) {
        padding: 0 20px;
    }
}

.hide-mobile {
    @include bp(max-width $bp-col8) {
        display: none;
    }
}
