// FONT INCLUDES
// ================================================================

@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/avenir/book/Avenir-Book.eot'); /* IE9 Compat Modes */
    src: url('../fonts/avenir/book/Avenir-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/avenir/book/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/avenir/book/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/avenir/book/Avenir-Book.svg') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Oswald:400');


// GENERAL TYPE SETTINGS
// ================================================================

$font-heading: 'Oswald', Helvetica, Arial, sans-serif;
$font-text: 'Avenir Book', Helvetica, Arial, sans-serif;

body {
    font-family: $font-text;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    position: relative;
    color: $black;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.05;
    margin: 0 0 12px;
}

h1 {
    position: relative;
    font-size: 34px;
    padding-bottom: 20px;
    margin-bottom: 50px;

    @include bp($bp-col8) {
        font-size: 44px;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 100px;
        height: 3px;
        background-color: $teal-light;
    }
}

p {
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    margin-top: 0;

    @include bp($bp-col8) {
        font-size: 15px;
    }
    @include bp($bp-col12) {
        font-size: 16px;
    }
    @include bp($bp-col16) {
        font-size: 17px;
    }
}