// ===== COLORS
// ================================================================

$grey-light: #ececee;
$grey: #c4c4c4;
$grey-dark: darken($grey, 15%);
$black: #373737;
$black-dark: darken($black, 10%);

$blue: #90cff2;
$red: #e34234;
$red-light: #f1afaf;
$green: #cfd78a;
$teal: #289784;
$teal-light: #76ddc9;
