// ===== UI ALERTS
// ================================================================

.message {
    cursor: default;
    display: table;
    color: rgba(black, 0.5);
    font: 13px/2.15 $font-text;
    text-align: center;
    text-transform: uppercase;
    background-color: $teal-light;
    padding: 0 25px;
    margin: 20px auto;

    @include bp($bp-col8) {
        font-size: 16px;
    }

    // Dismissable messages
    &.dismissable {
        padding-right: 0;
        span {
            cursor: pointer;
            display: inline-block;
            width: 37px;
            height: 100%;
            color: inherit;
            font-weight: bold;
            background-color: rgba(black, 0.06);
            padding-top: 3px;
            margin-left: 25px;

            &:hover {
                background-color: rgba(black, 0.12);
            }
        }
    }
}