// ===== ANIMATIONS
// ================================================================

.animate {
    transition: 0.5s;

    // Animate interval items with a bubbling effect
    &[data-interval] > * {
        transform: scale(0);
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.85,-0.3,0.3,1.75);

        &.bubbled {
            transform: scale(1);
        }
    }

    // BOUNCE IN TRANSITIONS //
    &.bounce {
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.85,-0.95,0.3,2);
    }

    // SLIDE IN TRANSITIONS //
    // Reveal from the left
    &.from-left {
        opacity: 0;
        transform: translateX(-10%);
        &.lazyloaded {
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Reveal from the right
    &.from-right {
        opacity: 0;
        transform: translateX(10%);
        &.lazyloaded {
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Reveal from the top
    &.from-top {
        opacity: 0;
        transform: translateY(-10%);
        &.lazyloaded {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // Reveal from the bottom
    &.from-bottom {
        opacity: 0;
        transform: translateY(10%);
        &.lazyloaded {
            opacity: 1;
            transform: translateY(0);
        }
    }

}
