// ===== BUTTON STYLES
// ================================================================

.btn {
    position: relative;
    color: white;
    font: 14px/2.75 $font-heading;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: $black;
    border: 1px solid $teal;
    padding: 0 68px 0 48px;
    margin: 20px auto;
    transition: background-color 0.2s;

    @include bp($bp-col12) {
        font-size: 15px;
        line-height: 3;
    }

    &:hover {
        background-color: $teal;
        &:after {
            margin-left: 17px;
        }
    }

    // Chevron
    &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 11px;
        height: 11px;
        content: '';
        background: url('../svg/icon-chevron.svg') no-repeat center;
        background-size: contain;
        margin-top: 1px;
        margin-left: 12px;
        transition: margin-left 0.2s;
    }
}