// ===== LIST STYLES
// ================================================================

.ul {
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    line-height: 1.25;
    background-color: rgba(black, 0.1);
    padding: 15px 40px 15px 20px;
    margin-bottom: 15px;

    @include bp($bp-col8) {
        font-size: 15px;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    @include bp($bp-col12) {
        font-size: 16px;
        padding: 25px 75px 25px 25px;
    }
    @include bp($bp-col16) {
        font-size: 17px;
    }

    li {
        position: relative;
        padding-left: 26px;
        margin-bottom: 8px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include bp($bp-col12) {
            padding-left: 36px;
        }
    }

    &.checkmarks li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 14px;
        height: 14px;
        background: url('../svg/icon-checkmark.svg') no-repeat center;
        background-size: contain;

        @include bp($bp-col12) {
            width: 20px;
            height: 20px;
        }
    }

}